#row {
  display: flex;
  margin-right: 20%;
  margin-left: 1%;
}

.navbar{
  margin-top: 5px;
  margin-left: 20%;
  margin-bottom: 20px;
  width: 500px;
  height: 60px;
  border: 0px solid grey;
  border-radius: 0px;
  background-color: lightgray;
}
.removeButton {
  display:none;
}

#overview {
  border:0px solid grey !important;
  border-radius: 0px !important;
}

#repositories {
  border:0px solid grey !important;
  border-radius: 0px !important;
}

#projects{
  border:0px solid grey !important;
  border-radius: 0px !important;
}

#packages {
  border:0px solid grey !important;
  border-radius: 0px !important;
}

.container-fluid{
  padding-left: 30px !important;
}

.flex-column{
  margin-left: 15%;
}
.flex-column2{
  margin-left: 15%;
}

/* Repository Section */
.repo-section {
  background-color: lightgray;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 20px;
  margin: auto;
  
}

.repo-search {
  padding: 10px;
  margin-bottom: 10px !important;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
}

.pinForm {
  color: white;
}
.desc-form {
  color: white;
}

/* Project Section */
.proj-section {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 20px;
  margin: auto;
}

.project-search {
  padding: 10px;
  margin-bottom: 10px !important;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
}



/* Form Section */
.form-section {
  background-color: lightgray;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 20px;
  margin-top: 30px;
  /*margin: auto;*/
}

.pinForm input {
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  bottom: 0;
  width: 1895px;
  border: 2px solid grey;
  background-color: lightgray;
  height: 50px;
  margin-bottom: 5px;
}

.proFollowing-body {
  font-size: 14px;
}

.GitSub, .terms, .privacy, .security, .status, .help, .logo, .contact, .pricing, .api, .training, .blog, .about {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.proCard {
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid grey;
  background-color: lightgrey;
  margin-bottom: 50px;
}

.jinWoo {
  display: flex;
  align-items: center;
  border-radius: 150px;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 10px;
}

.chaeWon {
  width: 42px;
  height: 42px;
  border-radius: 180px;
  margin-left: 2px;
  margin-bottom: 8px;
}

.jinChul {
  width: 42px;
  height: 42px;
  border-radius: 180px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.jongIn {
  width: 42px;
  height: 42px;
  border-radius: 180px;
  margin-left: 2px;
  margin-bottom: 2px;
}



